.layoutContainer {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 2 * var(--header-height));
  width: 100%;
}

.content {
  flex-grow: 1;
  padding: 5px;
  width: 100%;
  margin: 0 auto;
}
.menu {
  display: flex;
  justify-content: center;
  align-items: center;

  bottom: 0;
}
