.container {
  position: relative;
  width: 100%; /* Make it responsive */
  max-width: 500px;
  min-width: 280px;
  height: auto;
  max-height: 400px;
  margin: 0 auto;
  background-color: var(--color-bg-secondary);
  padding: 1rem;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  gap: 10px;
  flex-shrink: 0;
  overflow-x: scroll;
  box-sizing: border-box;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}
.title {
  font-size: var(--font-size-large);
  font-weight: 600;
  margin-bottom: 1rem;
  text-align: center;
  color: var(--color-text-primary);
}
.center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - var(--header-height));
}
.tableContainer {
  width: 100%;
  max-height: 350px;
  overflow-y: auto;
  overflow-x: auto;
  border-radius: var(--border-radius-small);
  border: 1px solid var(--color-text-primary);
}

.noLoansText {
  text-align: center;
  font-size: 1.125rem;
  color: #6b7280;
  margin-top: 20px;
}

/* Media Queries for different screen sizes */
@media screen and (max-width: 768px) {
  .container {
    width: 95%;
    padding: 1rem;
  }

  th,
  td {
    padding: 8px;
    font-size: 0.9rem;
  }
}

@media screen and (max-width: 480px) {
  .container {
    width: 98%;
    padding: 0.8rem;
  }

  th,
  td {
    padding: 6px;
    font-size: 0.8rem;
  }

  .title {
    font-size: 1.5rem;
  }
}

table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  padding: 12px;
  text-align: left;
}

th {
  background-color: #4caf50;
  color: white;
  position: sticky;
  top: 0;
  z-index: 1;
}
td {
  background-color: var(--color-bg-secondary);
  color: var(--color-text-primary);
}

.noLoansText {
  text-align: center;
  font-size: 1.125rem;
  color: #6b7280;
  margin-top: 20px;
}

.error {
  color: red;
  margin-bottom: 1rem;
  text-align: center;
}
.row {
  height: 40px;
}

.row:last-child {
  border-bottom: none;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modalContent {
  background: #fbfeff;
  user-select: none;
  padding: 20px;
  border-radius: var(--border-radius-small);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  width: 400px;
  max-width: 90%;
  text-align: center;
  position: relative;
  flex-direction: row;
}
.modalActions {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.modalContent h2 {
  margin-bottom: 15px;
  font-size: var(--font-size-large);
  color: #212121;
  user-select: text;
}

.modalContent p {
  margin: 10px 0;
  color: #333;
}
