.loader {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background-color: #fde881;
  animation: 0.5s pulse infinite ease-in-out;
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 #fde881;
  }

  100% {
    box-shadow: 0 0 0 14px #fde88100;
  }
}
