.container {
  max-width: 900px;
  margin: 0 auto;
  padding: 1rem;
}

.title {
  text-align: center;
  margin-bottom: 2rem;
  color: var(--color-text-primary);
}

.searchContainer {
  margin-bottom: 2rem;
}

.search__input {
  font-family: inherit;
  font-size: inherit;
  background-color: #f4f2f2;
  border: none;
  color: #000;
  border: 1px solid var(--color-text-primary);
  padding: 0.7rem 1rem;
  border-radius: 30px;
  width: 100%;
  transition: all ease-in-out 0.5s;
}

.search__input:hover,
.search__input:focus {
  box-shadow: 0 0 1em #00000013;
}

.search__input:focus {
  outline: none;
  background-color: #f0eeee;
}

.search__input::-webkit-input-placeholder {
  font-weight: 100;
  color: #000000;
}

.categories {
  display: flex;
  gap: 1rem;
  margin-bottom: 2rem;
  flex-wrap: wrap;
  justify-content: center;
  color: var(--color-text-primary);
}

.categoryBtn {
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 20px;
  background: #f0f0f0;
  cursor: pointer;
  color: #212121;
  transition: all 0.3s ease;
}

.categoryBtn.active {
  background: #007bff;
  color: white;
}
.faqListContainer {
  height: 52dvh;
  overflow-x: scroll;
}

.faqList {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.faqItem {
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
}

.question {
  padding: 1rem;
  background: #f8f9fa;
  display: flex;
  color: #212121;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.question h3 {
  margin: 0;

  color: #212121;
}
h3 {
  color: #212121;
  font-size: var(--font-size-medium);
  font-weight: var(--font-weight-bold);
}

.arrow {
  transition: transform 0.3s ease;
}

.arrow.expanded {
  transform: rotate(180deg);
}

.answer {
  padding: 1rem;
  background: white;
  border-top: 1px solid #eee;
}

.feedback {
  margin-top: 1rem;
  padding-top: 1rem;
  border-top: 1px solid #eee;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.feedback button {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 1.2rem;
  color: #212121;
}

.noResults {
  text-align: center;
  padding: 2rem;
  color: var(--color-text-primary);
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 400px;
}
span {
  color: #212121;
}
